* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-family-regular);
    font-size: var(--font-size-regular);
    line-height: var(--line-height);
    color: var(--color-black);
    transition: all .3s;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

button,
button:focus-visible {
    border: none;
    outline: none;
    background-color: transparent;
}

ul {
    padding-left: unset;
    list-style-type: none;
}

input { 
    outline: none; 
}

a { 
    text-decoration: unset; 
}

a:hover { 
    text-decoration: underline; 
}

h3 {
    font-family: var(--font-family-semibold);
    font-size: var(--font-size-large);
    line-height: var(--line-height-big);
    width: 79vw;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.container {
    height: 100vh;
}

.flex {
    display: flex;
}

.btn {
    display: flex;
    background-color: #fff;
    border: 1px solid #D5D8DD;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}

.search {
    position: relative;
}

.search__input {
    border: 1px solid #D5D8DD;
    border-radius: 4px;
    padding: 6px 25px 6px 8px;
    width: 100%;
}

.search__icon {
    position: absolute;
}

svg path {
    fill: #2E3238;
}

.btn:hover,
.button:hover {
    box-shadow: 0px 4px 15px 0px rgba(34, 60, 80, 0.2);
}

.button {
    border: 1px solid #D5D8DD;
    border-radius: 4px;
    padding: 6px 12px;
    font-family: var(--font-family-semibold);
    cursor: pointer;
}

.sticky {
    position: sticky;
    top: 51px;
    background-color: white;
    z-index: 10;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.04);
}

.none {
    display: none;
}